@import "../../partials/basics";

.text-primary {
    text-align: center;
}

.carouselArrow {
    color: $accent-color;
    position: absolute;
    display: flex;
    top: 5.4em;
    height: 20px;
}

.carouselContainer {
    position: relative;
}

.carousel {
    position: absolute;
    top: 0;
    width: 100%;

    & h5 {
        margin-bottom: 0;
        margin-top: 3em;
    }
}