@import '../../partials/basics';

.games-container {
    background-color: $secondary-color;
    width: 100%;
    margin: $bl auto $bl auto;

    padding: $bl/2;
    min-height: 57vh;
    border-radius: $bl/2;

    & h4 {
        margin-top: 0;
    }
}