
.tournament-card {
  background-color: #61dafb;
  size: 20em;
}

.tournament-card > div:first-child {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #1a4a66;
  color: white;
}

th {
  text-align: left;
}

.status-green {
  border: 0.2em solid green;
  border-radius: 0.5em;
  background-color: green;
  color: white;
  
}

.status-yellow {
  border: 0.2em solid yellow;
  border-radius: 0.5em;
  background-color: yellow;
  color: black;
}

.status-grey {
  border: 0.2em solid grey;
  border-radius: 0.5em;
  background-color: grey;
  color: white;
}

.a {
  margin-right: 10em;
}

.b {
  text-align: right;
  margin-left: 10em;
}