@import './partials/colors';
@import './partials//typography';

.App {
  text-align: center;
  background-color: lighten($secondary-color, 5%);
  min-height: 100vh;
}

.container-fluid {
  height: 100%;
}
