@import '../../partials/basics';


.navbar-toggler {
    color: $accent-color;

    &:hover {
        color: darken($accent-color, 20%);
    }
}

.navbar-brand {
    font-family: $headingFontStack !important;
    font-weight: 800;
    font-size: $bl * 1.3;
    line-height: $bl * 1.6;
    padding: 2px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    color: $primary-color !important;
    margin-left: 1rem;
}

.nav {
    min-height: 3rem;
}

.nav-link {
    font-family: $bodyFontStack;
    font-weight: 700;
    color: $white-color;
    line-height: $bl;
    transition: all .3s ease-out;
    padding: 0;
    margin: .7rem 1rem;
    margin-bottom: 0;

    &:hover {
        color: darken($white-color, 5%);
        border-bottom: 2px solid $accent-color;
    }
}

.navbar {
    justify-content: flex-start;

    & input {
        margin: 0 $bl / 4;
    }
    
    & .btn {
        height: $bl;
        line-height: 1rem;
        margin: 0 $bl / 4;
    }
}

.form-inline {
    margin-left: auto;
}

.form-control {
    height: $bl;
}

.popup-style {
    border: none !important;
    background-color: black !important;
}