@import '../../partials/basics';


.navbar-toggler-icon {
    color: $accent-color;

    &:hover {
        color: darken($accent-color, 20%);
    }
}

.navbar-brand {
    font-family: $headingFontStack !important;
    font-weight: 800;
    text-transform: uppercase;
    color: $primary-color !important;
    min-height: 2em;
}

.nav-link {
    font-family: $bodyFontStack;
    font-weight: 700;
    color: $primary-color ;
}